<section id="search-publications" style="background: transparent;">
  <div class="container-fluid">
    <% unless @model.blank? %>
      <% @model.each do |row| %>
        <%= render partial:"frontend/shared_site/search_results", locals: { row: row } %>
      <% end %>
    <% else %>
      <%= render partial:"frontend/shared_site/no_results" %>
    <% end %>
  </div>
</section>
