<div class="nested-fields">
  <div class="field-skill">
    <%= f.text_field :name, class:"input_skill", maxlength:"27" %>
    <%= link_to_remove_association "remover", f, style:"font-size: 13px;" %>
  </div>
</div>
