<h1>Recortar Imagem</h1>
<div class="row">
  <div class="col-md-8">
    <%= image_tag @model.avatar.url(:large), id: "user_cropbox" %>
    <%= simple_form_for([:frontend, @model]) do |f| %>
      <% %w[x y w h].each do |attribute| %>
        <%= f.input "crop_#{attribute}", as: :hidden %>
      <% end %>
      <%= button_tag(class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Salvando..."}) do %>
        <div class="d-flex">
          <span class="material-icons" style="">check</span>
          <span style="margin-left: 5px">Salvar</span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
