<section class="confirm_cover">
  <div class="container-fluid confirm_cover">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @model.cover.url(:thumb, class:'img-fluid preview_cover') %>
        <%= simple_form_for([:frontend, @model]) do |f| %>
          <% %w[x y w h].each do |attribute| %>
            <%= f.input "cropc_#{attribute}", as: :hidden %>
          <% end %>
          <%= button_tag(class: "btn btn-success") do %>
            <div class="d-flex">
              <span class="material-icons" style="">check</span>
              <span style="margin-left: 5px">Salvar</span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</section>
