<form>
  <div class="form-group">
    <label>Título</label>
    <input type="text" class="form-control" placeholder="<%= @model.title %>" disabled>
  </div>
  <div class="form-group">
    <label>por: </label>
    <input type="text" class="form-control" placeholder="<%= @postman.name %>" disabled>
  </div>
  <div class="form-group">
    <label>Informações adicionais</label>
    <textarea name="name" class="form-control" rows="8" cols="80" disabled><%= @model.body %></textarea>
  </div>
</form>
