<section id="info-login-user">
	<div class="row">
		<div class="col-md-6">
			<div class="row" style="padding: 20px">
				<div class="col-md-12 d-flex justify-content-center">
					<i class="material-icons md-48" style="color: #61d800">check</i>
				</div>
				<p class="info">Publique posts sobre a área que você domina </p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row" style="padding: 20px">
				<div class="col-md-12 d-flex justify-content-center">
					<i class="material-icons md-48" style="color: #61d800">check</i>
				</div>
				<p class="info">Compartilhe informações relevantes que outras pessoas possam aproveitar</p>
			</div>
		</div>

	</div>
</section>
