<div>
  <p>clique no link abaixo para resetar sua senha.</p>
  <%= link_to "Resetar senha", employer_verify_token_reset_url(@user.token_reset)%>
  <p>Se esse não é você, por favor, ignore esse email !</p>
</div>
