<div id="footer" class="container-fluid">
  <footer class="footer-bs" style="margin-top: 0px;">
      <div class="row" style="margin: 0px; padding: 0px;">
      	<div class="col-md-4 footer-brand animated fadeInLeft d-none d-sm-block">
          	<!-- <a href="index.html"><img class="logo" src="imgs/logo_5.png" alt="logo"></a> -->
              <p style="text-align: center;">A Iredevs é uma iniciativa que tem como objetivo aproximar unidades de ensino e seus estudantes a empregadores da
              região de Irecê, a fim de facilitar a entrada no mercado de trabalho de profissionais na área de TI.</p>
          </div>
      	<div class="col-md-4 footer-nav d-flex flex-column align-items-center">
        	<p>Termos & Condições</p>
        	<p>Política de privacidade</p>
          <%= link_to new_session_collaborator_path do %>
            <div class="d-flex" style="background: transparent; padding: 5px;">
              <i class="material-icons" style="color: white">person</i><span style="color: white">Seja um colaborador</span>
            </div>
          <% end %>
        </div>
      	<div class="col-md-4 footer-ns d-flex justify-content-center align-items-center">
          <%= link_to new_message_path do %>
            <div class="d-flex" style="background: transparent; padding: 5px; border: 1px solid  white;">
              <i class="material-icons" style="color: white">mail_outline</i><span style="color: white">Enviar mensagem</span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-center" style="padding-top: 20px;">
        Developed by Iredevs
      </div>
  </footer>
</div>
