<div class="row" style="height: 100vh; background: white;">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center">
    <i class="material-icons md-48" style="color: #B0BEC5;">sentiment_dissatisfied</i>
    <p style="color: #B0BEC5;">sem resultados</p>
  </div>
</div>
