<div class="row" style="height: 100vh; background: #CFD8DC;">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center">
    <i class="material-icons md-48" style="color: #ECEFF1;">sentiment_dissatisfied</i>
    <p style="color: white; font-weight: bold">sem resultados</p>
  </div>
</div>
