/*
 *= require_tree .
 *= require_self
 */
 $smartphone: "(max-width: 767px)";
 $tablet: "(min-width: 768px) and (max-width: 1023px)";
 $desktop: "(min-width: 1024px)";

 body#institution_profile {
  .btn_custom {
    padding: 2px 20px 2px;
    margin: 3px;
    border-radius: 4px;
  }
  @media #{$smartphone} {
    nav#nav-novato {
      display: none;
    }
  }
  div.page {
    li.name_institution {
      padding: 5px;
    }
    @media #{$smartphone} {
      .hide_mobile {
        display: none;
      }
      .logo-tiny-institution {
        border-radius: 5px;
        width: 40px;
        height: 40px;
        border: 2px solid #546E7A;
      }
      .navbar-header {
        padding: 5px;
      }
      .input_type, .input_vacancies, .input_title, .input_remunaration, .input_small{
        width: 90vw;
      }

    }
    @media #{$tablet} {
      .logo-tiny-institution {
        border-radius: 80px;
        border: 2px solid #546E7A;
      }
      .navbar-header {
        padding: 5px;
      }
      .input_title{
        width: 50vw;
      }
      .input_type, .input_vacancies, .input_remunaration, .input_small{
        width: 20vw;
      }
    }
    @media #{$desktop} {
      .logo-tiny-institution {
        border-radius: 80px;
        border: 2px solid #546E7A;
      }
      .navbar-header {
        padding: 5px;
      }
      .input_title{
        width: 40vw;
      }
      .input_type, .input_vacancies, .input_remunaration, .input_small{
        width: 20vw;
      }
    }
  }
 }

 section#screen_login_institution {
   background: image-url('cover_teaching');
   height: 100vh;
   div.card-login {
     box-shadow: 1px -2px 10px;
   }
   @media #{$smartphone} {
     padding: 40px 20px 10px;
     div.row {
       padding-top: 10px;
       h1.title {
         font-size: 1.4em;
         margin-top: 20px;
         margin-bottom: 40px;
         text-align: center;
       }
     }
   }
   @media #{$tablet} {
     div.row {
       padding-top: 100px;
       h1.title {
         font-size: 2em;
       }
     }
   }
   @media #{$desktop} {
     div.row {
       padding-top: 100px;
       h1.title {
         font-size: 2.8em;
       }
     }
   }
 }

 section#institution_info {
   p.info {
     color: white;
     font-weight: bold;
   }
   @media #{$smartphone} {
     h1.title {
       font-size: 1.8em;
       text-align: center;
     }
     p.info {
       font-size: 0.9em;
       text-align: center;
     }
   }
   @media #{$tablet} {
     h1.title {
       font-size: 2em;
     }
     p.info {
       font-size: 1em;
       text-align: center;
     }
   }
   @media #{$desktop} {
     h1.title {
       font-size: 2.6em;
     }
     p.info {
       font-size: 1.3em;
       text-align: center;
     }
   }
 }
