/*
*= require jcrop
*/

@import "bootstrap";
@import "material_icons";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$smartphone: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
body#frontend {
  // index
  font-family: 'Varela Round', sans-serif;
  div#index {
    section#cover {
      height: 100vh;
      background: rgba(0,191,255, 0.6);
      div.search {
        margin-top: 20px;
        input {
          width: 300px;
        }
        .btn-search {
          position: relative;
          background: #fdc000;
          height: 36px;
          width: 36px;
          padding-left: 7px;
          top: -37px;
          left: 131px;
        }
      }// end div.search
    } //end section#cover
  }
  nav#nav-novato {
    div.collapse {
      a.custom-link {
        color: #78909C !important;
        font-weight: 700 !important;
      }
      a.custom-link:hover {
        color: #42A5F5 !important;
      }
    }
  }
  background-image: url("irece-mobile.jpg") !important;
  @media #{$smartphone} {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% top;
    background-attachment: fixed;
    .ul-mobile {
      position: relative;
      left: 10px;
    }
    h1.desktop {
      display: none;
    }
    section#info {
      div.info {
        margin-top: 30px;
      }
      div.card_text {
        margin-bottom: 20px;
        background: white;
        padding: 10px 10px 5px;
        border-radius: 10px;
        border: 1px solid #80DEEA;
      }
      p {
        text-align: center;
      }
    }
    h1.text-capa {
      font-size: 1.6em;
      color: white;
      font-weight: 800;
      letter-spacing: 0.1em;
      border-radius: 2px;
      padding: 10px 3px 10px;
    }
  }
  @media #{$tablet} {
    background-image: url("irece.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% top;
    background-attachment: fixed;
    .ul-mobile {
      position: relative;
      left: 10px;
    }
    h1.desktop {
      display: none;
    }
    h1.text-capa {
      font-size: 2.2em;
      color: white;
      font-weight: 800;
      letter-spacing: 0.1em;
      border-radius: 10px;
      padding: 40px 15px 40px;
    }
  }
  @media #{$desktop} {
    background-image: url("irece.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% top;
    background-attachment: fixed;
    .ul-mobile {
      position: relative;
      left: 10%;
    }
    h1.mobile {
      display: none;
    }
    h1.text-capa {
      font-size: 2em;
      color: white;
      font-weight: 800;
      letter-spacing: 0.1em;
      border-radius: 10px;
      padding: 40px 15px 40px;
    }
    a.usuario {
      border: 1px solid #78909C;
      padding: 1px 10px 1px;
      border-radius: 30px;
    }
    a.empregador {
      border: 1px solid #78909C;
      padding: 1px 10px 1px;
      border-radius: 30px;
      margin-left: 10px;
    }
    div.card_text {
      padding: 10px;
    }
  }


  div#footer {
    padding: 0px;
    .footer-bs {
       padding: 20px;
       margin-top: 30px;
       background-color: #3c3d41;
       color: rgba(255,255,255,1.00);
     }
     .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
     .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
     .footer-bs .footer-brand h2 { margin:0px 0px 10px; }
     .footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); margin-top: 10px;}

     .footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
     .footer-bs .footer-nav ul.pages li { padding:5px 0px;}
     .footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
     .footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
     .footer-bs .footer-nav h4 {
       font-size: 11px;
       text-transform: uppercase;
       letter-spacing: 3px;
       margin-bottom:10px;
     }

     .footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
     .footer-bs .footer-nav ul.list li { padding:5px 0px;}
     .footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
     .footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

     .footer-bs .footer-social ul { list-style:none; padding:0px; }
     .footer-bs .footer-social h4 {
       font-size: 11px;
       text-transform: uppercase;
       letter-spacing: 3px;
     }
     .footer-bs .footer-social li { padding:5px 4px;}
     .footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
     .footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

     .footer-bs .footer-ns h4 {
       font-size: 11px;
       text-transform: uppercase;
       letter-spacing: 3px;
       margin-bottom:10px;
     }
     .footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

     @media (min-width: 768px) {
       .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
     }
  }//end footer
  section#search-publications {
    min-height: 100vh;
    padding: 10px;
    div.publication {
      border: 1px solid #CFD8DC;
      div.head-card {
        background: #ECEFF1;
        div.information {
          min-height: 80px;
          p.title {
            font-size: 1.2em;
            margin: 1px;
            color:  #546E7A;
          }
          p.remunaration {
            font-size: 0.7em;
            color: #26C6DA;
            margin: 1px;
          }
          p.vacancies {
            font-size: 0.8em;
            color: black;
            margin: 1px;
            color: #26C6DA;
          }
        }
        div.publication_date {
          padding: 0px;
          padding-top: 3px;
          div.date {
            padding-left: 1px;
          span {
              font-size: 0.6em;
              color: #607D8B;
            }
          }
          div.icon-div {
            padding: 1px 8px 1px;
          }
        }
      }
      div.body {
        background: white;
      }
    }

  }
  section#show_publication {
    padding: 10px;
    div.publication {
      min-height: 85vh;
      background: white;
      .no-remunaration {
        color: #546E7A;
        font-size: 0.6em;
        border: 1px solid #546E7A;
        border-radius: 4px;
        padding: 1px 4px 1px;
        width: 150px;
      }
      .remunaration {
        color: #546E7A;
        font-size: 0.8em;
      }
      .vacancies {
        font-size: 0.8em;
        color: #546E7A;
      }
      p.information {
        border: 1px solid #CFD8DC;
        border-radius: 4px;
        padding: 5px;
      }
      @media #{$smartphone} {
        .title {
          font-size: 1.5em;
          color: #546E7A;
        }
        .postman {
          font-size: 0.8em;
          color: #546E7A;
        }
      }
      @media #{$tablet} {
        .title {
          font-size: 1.8em;
          color: #546E7A;
        }
        .postman {
          font-size: 0.9em;
          color: #546E7A;
        }
      }

      @media #{$desktop} {
        p.information {
          min-height: 150px;
        }
        .title {
          font-size: 1.8em;
          color: #546E7A;
        }
        .postman {
          font-size: 0.9em;
          color: #546E7A;
        }
      }
    }
  }
}// end frontend

body {
  section#show_profile {
    margin-top: 5px;
    section#top {
      .image_cover {
          background-position: 0 50%;
          display: block !important;
          background-size: 100% auto;
          border-bottom: 1px solid #e1e8ed;
          border-radius: 3px;
          width: 100%;
      }
      .edit-button {
          margin: -35px -20px 0;
          text-align: right;
          width: 100%
      }
    }


    section#user_info {
      div.padding_10 {
        padding: 10px;
      }
      div.avatar {

      }
      div.personal_info {
        text-align: center;
        p.info {
          background-color: #ECEFF1;
          border-radius: 5px;
          font-weight: 400;
          letter-spacing: 0.08em;
          padding: 4px 30px 4px;
          color: #263238;
        }
      }
      div.contact_info {
        padding: 20px;
        p.info {
          background-color: #64B5F6;
          border-radius: 5px;
          padding: 2px 10px 2px;
          color: white;
        }
      }
      @media #{$smartphone} {
        div.avatar {
          text-align: left;
          .img_avatar {
            position: relative;
            width: 100px;
            border-radius: 50%;
            border: 2px solid white;
            top: -50px;
            left: 20px;
          }
        }
        div.personal_info {
          text-align: center;
        }
        div.contact_info {
          text-align: center;
        }
      }
      @media #{$tablet} {
        div.avatar {
          text-align: center;
          .img_avatar {
            position: relative;
            width: 150px;
            border-radius: 50%;
            border: 5px solid white;
            top: -50px;
            left: 20px;
          }
        }
        div.personal_info {
          text-align: center;
        }
        div.contact_info {
          text-align: right;
        }
      }
      @media #{$desktop} {
        div.avatar {
          text-align: center;
          .img_avatar {
            position: relative;
            border-radius: 50%;
            border: 5px solid white;
            top: -50px;
          }
        }
        div.personal_info {
          text-align: left;
        }
        div.contact_info {
          text-align: right;
        }
      }
    }

    section#bio_skill {
      margin: 10px;
      div.skill {
        border: 1px solid #B0BEC5;
        border-radius: 10px;
        padding: 10px;
        h3 {
          font-size: 16px;
          background: #4FC3F7;
          text-align: center;
          height: 30px;
          padding: 5px;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          letter-spacing: 0.1em;
        }
        div.row {
          padding: 10px;
          p {
            margin: 6px;
            color: white;
            letter-spacing: 0.07em;
            padding: 5px 8px 5px;
            border-radius: 5px;
            background: #B0BEC5;
          }
        }
      }
      div.bio {
        border: 1px solid #B0BEC5;
        border-radius: 10px;
        padding: 10px;
        h3 {
          font-size: 16px;
          background: #4FC3F7;
          text-align: center;
          height: 30px;
          padding: 5px;
          border-radius: 5px;
          color: white;
          font-weight: bold;
          letter-spacing: 0.1em;
        }
        p {
          padding: 10px;
        }
      }
    }
    @media #{$smartphone} {
      div.bio {
        margin-bottom: 20px;
      }
    }
    @media #{$tablet} {
      div.bio {
        margin-right: 10px;
      }
    }
    @media #{$desktop} {
      div.bio {
        margin-right: 10px;
      }
    }
  }



  div.confirm_cover {
    height: 100vh;
    padding: 20px;
  }

  section#form_profile {
    div.profile_passwords {
      width: 50vw;
      padding: 20px;
    }
    div.btns {
      padding: 7px;
      background-color: #ECEFF1;
      .custom_btn {
        background: #64B5F6;
        border: none;
        padding: 10px;
        padding-top: 12px;
        color: white;
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
      }
    }

      @media #{$smartphone} {
        .name, .phone {
          width: 100%;
        }
      }
      @media #{$tablet} {
        .name, .phone {
          width: 60%
        }
      }
      @media #{$desktop} {
        .name, .phone {
          width: 50%;
        }
      }
  }

  section#login {
    height: 100vh;
    background: #CFD8DC;
    .container {
      height: 100vh;

      .card-login {
        width: 25rem;
      }
    }
    .btn_login_face {
      width: 100%;
      background-color: blue;
      color: white;
      border-radius: 4px;
      padding: 5px;
      margin-top: 10px;
    }

    @media #{$smartphone} {
      .name, .phone {
        width: 100%;
      }
    }
    @media #{$tablet} {
      .name, .phone {
        width: 60%
      }
    }
    @media #{$desktop} {
      .name, .phone {
        width: 50%;
      }
    }
  }

  section#form_create {
    height: 100vh;
    background: #CFD8DC;
    div.form {
      p {
        text-align: center;
        padding-top: 10px;
        border-bottom: 1px solid #546E7A;
      }
      background: white;
      border-radius: 2px;
      padding: 0px 40px 10px;
    }
    .btn_login_face {
      width: 100%;
      background-color: blue;
      color: white;
      border-radius: 4px;
      padding: 5px;
      margin-top: 10px;
    }
    @media #{$smartphone} {
      div.custon_field {
        width: 100%
      }
    }
    @media #{$tablet} {
      div.custon_field {
        width: 100%;
      }
    }
    @media #{$desktop} {
      div.custon_field {
        width: 100%;
      }
    }
  }
  div.skills {
    border: 1px solid #B0BEC5;
    border-top: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
  }
  div.new {
    border: 1px solid #B0BEC5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: transparent;
    div.new_skill {
      padding: 10px;
      width: 200px;
      .link_add {
        background: #42A5F5;
        width: 70px;
        border-radius: 2px;
        padding: 1px 4px 1px;
        text-align: center;
      }
    }
  }

  div.field-skill {
    .input_skill {
      width: 100%;
      border-radius: 5px;
      border: none;
      color: #607D8B;
      font-weight: bold;
      letter-spacing: 0.1em;
      background: #CFD8DC;
      padding: 2px 15px 2px;
    }
  }

  // custom inputs
  .custon_field {
    position: relative;
  }
  /* style icon */
  .custon_field .icon {
    background: #78909C;
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  /* align icon */
  .left-addon .icon  {
    left: 0px;
    top:  0px;
    padding: 8px 10px 3px;
  }
  /* add padding  */
  .left-addon input {
     padding:  20px 40px 20px;
     padding-left:  60px;
     border-radius: 0px;
   }



}
