/*
*= require jcrop
*/
@import "social-share-button";
@import "bootstrap";
@import "material_icons";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$smartphone: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$tablet_desktop: "(min-width: 768px)";
$nav: "(min-width: 892px) and (max-width: 921px)";

nav#nav-novato {
  .nav-link {
    color: #90CAF9 !important;
    font-weight: bold;
  }
  div.search-users {
    div.d-flex {
      input[type="text"] {
        border: 1px solid blue;
        height: 30px !important;
        outline: none !important;
        box-shadow: none !important;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      button[id="btn-search"] {
        width: 28px;
        height: 30px;
        padding: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

section#show-users {
  background: #CFD8DC;
  min-height: 100vh;
  @media #{$smartphone} {
    padding-top: 50px;
  }
  @media #{$tablet_desktop} {
    padding-top: 80px;
  }
  div.row-user {
    margin: 5px;
    margin-bottom: 5px;
    div.col-user {
      background: white;
      border: 1px solid #CFD8DC;
      border-radius: 4px;
      padding: 10px;
      .img-user {
        border-radius: 50%;
        border: 1px solid #90A4AE;
      }
      .btn-profile {
        background: #CFD8DC;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        .icon {
          position: relative;
          left: -9px;
          top: -4px;
        }
      }
      @media #{$smartphone} {
        span.user-name {
          font-size: 1em;
          color: #546E7A;
        }
        div.col-bio {
          margin-top: 15px;
          div.bio {
            padding: 6px;
            border: 1px solid #ECEFF1;
            border-radius: 5px;
            color: #90A4AE;
            font-size: 1em;
          }
        }
      }

      @media #{$desktop} {
        span.user-name {
          font-size: 1.5em;
          color: #546E7A;
        }
        div.col-bio {
          margin-top: 25px;
          div.bio {
            padding: 6px;
            border: 1px solid #ECEFF1;
            border-radius: 5px;
            color: #90A4AE;
            font-size: 1em;
          }
        }
      }
      @media #{$tablet} {
        span.user-name {
          font-size: 1.2em;
          color: #546E7A;
        }
        div.col-bio {
          margin-top: 15px;
          div.bio {
            padding: 6px;
            border: 1px solid #ECEFF1;
            border-radius: 5px;
            color: #90A4AE;
            font-size: 1em;
          }
        }
      }
    }
  }
  div.form-search-user {
    margin-bottom: 10px;
    div.input-search {
      background: #B0BEC5;
      padding: 10px;
      input {
        border: 1px solid #B0BEC5;
        border-radius: 3px;
        margin-left: 5px;
        outline: none;
        padding-left: 6px;
      }
    }
    div.btn-search {
      button {
        height: 38px;
        margin-left: 5px;
        width: 37px;
        padding-right: 10px;
        padding-left: 9px;
        border: none;
        border-radius: 2px;
        background: white;
      }
    }
    @media #{$smartphone} {
      input {
        width: 140px;
      }
    }
    @media #{$tablet} {
      input {
        width: 180px;
      }
    }
    @media #{$desktop} {
      input {
        width: 210px;
      }
    }
  }
}

section#show_profile_user {
  min-height: 100vh;
  background: white;
  section#top {
    .image_cover {
        background-position: 0 50%;
        display: block !important;
        background-size: 100% auto;
        border-bottom: 1px solid #e1e8ed;
        border-radius: 3px;
        width: 100%;
    }
  }
  @media #{$smartphone} {
    padding-top: 40px;
  }
  @media #{$tablet_desktop} {
    padding-top: 70px;
  }
  div.div_avatar {
    .avatar {
      border: 7px solid white;
      border-radius: 50%;
      position: relative;
      top: -95px;
    }
    @media #{$smartphone} {
      height: 70px;
      .avatar {
        height: 180px;
        width: 180px;
      }
    }
    @media #{$tablet_desktop} {
      height: 120px;
    }
  }
  div.user_info {
    padding: 15px;
    @media #{$smartphone} {
      span.name {
        color: #546E7A;
        font-weight: bold;
        letter-spacing: 0.03em;
        font-size: 1.3em;
        margin-bottom: 10px;
      }
    }
    @media #{$tablet_desktop} {
      span.name {
        color: #546E7A;
        font-weight: bold;
        letter-spacing: 0.03em;
        font-size: 1.7em;
        margin-bottom: 10px;
      }
    }
  }
  div.bio_skill {
    margin-top: 10px;
    padding: 10px;
    div.user_bio {
      border: 1px solid #CFD8DC;
      border-radius: 5px;
      @media #{$smartphone} {
        p.bio {
          font-size: 0.9em;
        }
      }
      @media #{$desktop} {
        p.bio {
          font-size: 1em;
        }
      }
      @media #{$tablet} {
        p.bio {
          font-size: 1em;
        }
      }
    }
    div.user_skills {
      border: 1px solid #CFD8DC;
      border-radius: 5px;
      padding-bottom: 5px;
      span.skill {
        background: #607D8B;
        color: white;
        padding: 4px 8px 4px;
        margin: 5px;
        border-radius: 5px;
      }
      @media #{$tablet_desktop} {
        margin-left: 10px;
      }
      @media #{$smartphone} {
        margin-top: 10px;
      }
    }
  }
}

body#frontend {
  section#posts {
     padding-top: 15px;
     background: #CFD8DC;
     min-height: 100vh;
    @media #{$smartphone} {
      padding-top: 50px;
      div.post {
        background: white;
        border: 1px solid #CFD8DC;
        padding: 5px;
        margin-bottom: 7px;
        div.div-info {
          height: 100%;
          span.writer {
            font-size: 0.8em;
          }
        }
      }
    }
    @media #{$tablet} {
        padding-top: 50px;
      div.post {
        background: white;
        border: 1px solid #CFD8DC;
        padding: 5px;
        margin-bottom: 15px;
        div.div-info {
          height: 100%;
          span.title {
            margin-top: 20px;
            font-size: 1.5em;
            letter-spacing: 0.04em;
          }
          i.watch {
            padding-top: 1px;
          }
          i.watch {
            padding-top: 1px;
          }
          span.date {
            font-size: 0.8em;
          }
          span.writer {
            font-size: 0.9em;
          }
        }
      }
    }
    @media #{$desktop} {
      padding-top: 80px;
      div.post {
        background: white;
        border: 1px solid #CFD8DC;
        padding: 5px;
        margin-bottom: 15px;
        div.div-info {
          height: 100%;
          span.title {
            margin-top: 20px;
            font-size: 1.5em;
            letter-spacing: 0.04em;
          }
          i.watch {
            padding-top: 1px;
          }
          span.date {
            font-size: 0.8em;
          }
          span.writer {
            font-size: 0.9em;
          }
        }
      }
    }
  }
  // index
  font-family: 'Lato', sans-serif;
  div#index {
    section#cover {
      height: 100vh;
      background: rgba(0,191,255, 0.6);
      div.search {
        margin-top: 20px;
        input {
          width: 300px;
        }
        .btn-search {
          position: relative;
          background: #fdc000;
          height: 36px;
          width: 36px;
          padding-left: 7px;
          top: -37px;
          left: 131px;
        }
      }// end div.search
    } //end section#cover
  }
  @media #{$smartphone} {
    background: #90CAF9;
    section#info {
      div.info {
        margin-top: 30px;
      }
      div.card_text {
        margin-bottom: 20px;
        background: white;
        padding: 10px 10px 5px;
        border-radius: 10px;
        border: 1px solid #80DEEA;
      }
      p {
        text-align: center;
      }
    }
    h1.text-capa {
      font-size: 1.6em;
      color: white;
      font-weight: 800;
      letter-spacing: 0.1em;
      border-radius: 2px;
      padding: 10px 3px 10px;
    }
  }
  @media #{$tablet} {
    background: #90CAF9;
    h1.text-capa {
      font-size: 2.7em;
      color: white;
      font-weight: 800;
      letter-spacing: 0.1em;
      border-radius: 10px;
      padding: 40px 15px 40px;
    }
  }
  @media #{$desktop} {
    background: #90CAF9;
    h1.text-capa {
      font-size: 3.3em;
      color: white;
      font-weight: 800;
      letter-spacing: 0.1em;
      border-radius: 10px;
      padding: 40px 15px 40px;
    }
    div.card_text {
      padding: 10px;
    }
  }


  div#footer {
    padding: 0px;
    .footer-bs {
       padding: 20px;
       margin-top: 30px;
       background-color: #3c3d41;
       color: rgba(255,255,255,1.00);
     }
     .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
     .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
     .footer-bs .footer-brand h2 { margin:0px 0px 10px; }
     .footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); margin-top: 10px;}

     .footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
     .footer-bs .footer-nav ul.pages li { padding:5px 0px;}
     .footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
     .footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
     .footer-bs .footer-nav h4 {
       font-size: 11px;
       text-transform: uppercase;
       letter-spacing: 3px;
       margin-bottom:10px;
     }

     .footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
     .footer-bs .footer-nav ul.list li { padding:5px 0px;}
     .footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
     .footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

     .footer-bs .footer-social ul { list-style:none; padding:0px; }
     .footer-bs .footer-social h4 {
       font-size: 11px;
       text-transform: uppercase;
       letter-spacing: 3px;
     }
     .footer-bs .footer-social li { padding:5px 4px;}
     .footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
     .footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

     .footer-bs .footer-ns h4 {
       font-size: 11px;
       text-transform: uppercase;
       letter-spacing: 3px;
       margin-bottom:10px;
     }
     .footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

     @media (min-width: 768px) {
       .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
     }
  }//end footer
  section#search-publications {
    @media #{$smartphone} {
      padding-top: 50px;
    }
    @media #{$tablet} {
      padding-top: 70px;
    }
    @media #{$desktop} {
      padding-top: 80px;
    }
    min-height: 100vh;
    padding: 10px;

  }
  section#show_publication {
    background: #CFD8DC;
    .social-share-button {
        padding: 2px;
        .ssb-icon {
          opacity: 0.8;
          background-size: 27px 27px;
          height: 27px;
          width: 27px;
        }
    }
    padding: 10px;
    div.publication {
      min-height: 85vh;

      .no-remunaration {
        color: #546E7A;
        font-size: 0.6em;
        border: 1px solid #546E7A;
        border-radius: 4px;
        padding: 1px 4px 1px;
        width: 150px;
      }
      .remunaration {
        color: #546E7A;
        font-size: 0.8em;
      }
      .vacancies {
        font-size: 0.8em;
        color: #546E7A;
      }
      p.information {
        border: 2px solid #ECEFF1;
        border-radius: 2px;
        padding: 5px;
      }
      @media #{$smartphone} {
        margin-top: 50px;
        .title {
          font-size: 1.5em;
          color: #546E7A;
        }
        .postman {
          font-size: 0.8em;
          color: #546E7A;
        }
      }
      @media #{$tablet} {
        margin-top: 70px;
        .title {
          font-size: 1.8em;
          color: #546E7A;
        }
        .postman {
          font-size: 0.9em;
          color: #546E7A;
        }
      }

      @media #{$desktop} {
          margin-top: 80px;
        p.information {
          min-height: 150px;
        }
        .title {
          font-size: 1.8em;
          color: #546E7A;
        }
        .postman {
          font-size: 0.9em;
          color: #546E7A;
        }
      }
    }
  }
  section#list_publication {
    background: #CFD8DC;
    .social-share-button {
        padding: 2px;
        .ssb-icon {
          background-size: 27px 27px;
          height: 27px;
          width: 27px;
        }
    }
    div.publication {
      .no-remunaration {
        color: #546E7A;
        font-size: 0.6em;
        border: 1px solid #546E7A;
        border-radius: 4px;
        padding: 1px 4px 1px;
        width: 150px;
      }
      .remunaration {
        color: #546E7A;
        font-size: 0.8em;
      }
      .vacancies {
        font-size: 0.8em;
        color: #546E7A;
      }
      p.information {
        border: 2px solid #ECEFF1;
        border-radius: 2px;
        padding: 5px;
      }
      @media #{$smartphone} {
        margin-bottom: 20px;
        .title {
          font-size: 1.5em;
          color: #546E7A;
        }
        .postman {
          font-size: 0.8em;
          color: #546E7A;
        }
      }
      @media #{$tablet} {
        margin-bottom: 20px;
        .title {
          font-size: 1.8em;
          color: #546E7A;
        }
        .postman {
          font-size: 0.9em;
          color: #546E7A;
        }
      }

      @media #{$desktop} {
        margin-bottom: 30px;
        p.information {
          min-height: 150px;
        }
        .title {
          font-size: 1.8em;
          color: #546E7A;
        }
        .postman {
          font-size: 0.9em;
          color: #546E7A;
        }
      }
    }
  }

  section#show_post {
    min-height: 100vh;
    padding: 20px;
    background: white;
    @media #{$smartphone} {
    padding-top: 50px;
    .social-share-button {
        padding: 2px;
        .ssb-icon {
          opacity: 0.8;
          background-size: 27px 27px;
          height: 27px;
          width: 27px;
        }
      }
      h1.title {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.6em;
        text-align: center;
        font-weight: lighter;
        letter-spacing: 0.04em;
      }
      div.info_date {
        padding-left: 10px;
        text-align: center;
        span {
          font-size: 0.8em;
        }
      }
      div.body {
        padding: 2px;
        div.content {
          background: white;
          p {
            font-size: 12px !important;
          }
        }
      }
    }
    @media #{$tablet} {
      padding-top: 70px;
      .social-share-button {
          padding: 2px;
          .ssb-icon {
            opacity: 0.8;
            background-size: 27px 27px;
            height: 27px;
            width: 27px;
          }
      }
      h1.title {
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.04em;
      }
      div.body {
        padding: 20px;
        div.content {
          background: white;
        }
      }
    }
    @media #{$desktop} {
      padding-top: 70px;
      .social-share-button {
          padding: 2px;
          .ssb-icon {
            opacity: 0.8;
            background-size: 27px 27px;
            height: 27px;
            width: 27px;
          }
      }
      h1.title {
        font-size: 2em;
        font-weight: lighter;
        letter-spacing: 0.04em;
      }
      div.body {
        padding: 20px;
        div.content {
          background: white;
        }
      }
    }
  }
  section.background-login-user {
    background: image-url('background-jobs2');
    div.card-login {
      box-shadow: 5px 1px 50px rgba(68, 68, 68, 1);
    }
  }
  section.form-create-user {
    background: image-url('background-jobs2');
    div.form {
      box-shadow: 5px 1px 50px rgba(68, 68, 68, 1);
    }
  }
}// end frontend

body {
  section#show_profile {
    margin-top: 5px;
    section#top {
      .image_cover {
          background-position: 0 50%;
          display: block !important;
          background-size: 100% auto;
          border-bottom: 1px solid #e1e8ed;
          border-radius: 3px;
          width: 100%;
      }
      .edit-button {
          margin: -45px -20px 0;
          text-align: right;
          width: 100%
      }
    }


    section#user_info {
      div.personal_info {
        text-align: center;
        p.info {
          margin-top: 15px;
          font-weight: bold;
          color: #455A64;
        }
      }
      @media #{$smartphone} {
        div.avatar {
          text-align: left;
          height: 40px;
          .img_avatar {
            position: relative;
            width: 100px;
            border-radius: 50%;
            border: 2px solid white;
            top: -50px;
            left: 20px;
          }
        }
        div.personal_info {
          text-align: center;
          p.info {
            margin-top: 20px;
            font-size: 1.2em;
          }
        }
      }
      @media #{$tablet} {
        height: 140px;
        div.avatar {
          text-align: center;
          .img_avatar {
            position: relative;
            width: 150px;
            border-radius: 50%;
            border: 5px solid white;
            top: -60px;
            left: 17px;
          }
        }
        div.personal_info {
          text-align: center;
          p.info {
            font-size: 1.2em;
          }
        }
        div.contact_info {
          padding-top: 10px;
        }
      }
      @media #{$desktop} {
        height: 140px;
        div.avatar {
          text-align: center;
          .img_avatar {
            position: relative;
            border-radius: 50%;
            border: 5px solid white;
            top: -100px;
            left: 15px;
          }
        }
        div.personal_info {
          text-align: left;
          p.info {
            font-size: 1.4em;
          }
        }
        div.contact_info {
          padding-top: 10px;
        }
      }
    }

    section#bio_skill {
      margin: 10px;
      margin-bottom: 60px;
      div.skill {
        border: 1px solid #CFD8DC;
        border-radius: 5px;
        padding: 10px;
        span.skill {
          background: #607D8B;
          color: white;
          padding: 4px 8px 4px;
          margin: 5px;
          border-radius: 5px;
          height: 31px;
        }

        div.row {
          padding: 10px;
          @media #{$desktop} {
            min-height: 140px;
          }
          @media #{$tablet} {
            min-height: 140px;
          }
        }
      }
      div.bio {
        border: 1px solid #CFD8DC;
        padding: 10px;
        border-radius: 5px;
      }
    }
    @media #{$smartphone} {
      div.bio {
        margin-bottom: 20px;
      }
    }
    @media #{$tablet} {
      div.bio {
        margin-right: 10px;
      }
    }
    @media #{$desktop} {
      div.bio {
        margin-right: 10px;
      }
    }
  }



  div.confirm_cover {
    height: 100vh;
    padding: 20px;
  }

  section#form_profile {
    div.profile_passwords {
      width: 50vw;
      padding: 20px;
    }
    div.btns {
      padding: 7px;
      background-color: #ECEFF1;
      .custom_btn {
        background: #64B5F6;
        border: none;
        padding: 10px;
        padding-top: 12px;
        color: white;
        width: 100%;
        height: 50px;
        margin-bottom: 5px;
      }
    }

      @media #{$smartphone} {
        .name, .phone {
          width: 100%;
        }
      }
      @media #{$tablet} {
        .name, .phone {
          width: 60%
        }
      }
      @media #{$desktop} {
        .name, .phone {
          width: 50%;
        }
      }
  }

  section#login {
    height: 100vh;
    background: #CFD8DC;
    .container {
      height: 100vh;

      .card-login {
        width: 25rem;
      }
    }
    .btn_login_face {
      width: 100%;
      background-color: blue;
      color: white;
      border-radius: 4px;
      padding: 5px;
      margin-top: 10px;
    }

    @media #{$smartphone} {
      .name, .phone {
        width: 100%;
      }
    }
    @media #{$tablet} {
      .name, .phone {
        width: 60%
      }
    }
    @media #{$desktop} {
      .name, .phone {
        width: 50%;
      }
    }
  }

  section#form_create {
    height: 100vh;
    background: #CFD8DC;
    div.form {
      p {
        text-align: center;
        padding-top: 10px;
        border-bottom: 1px solid #546E7A;
      }
      background: white;
      border-radius: 2px;
      padding: 0px 40px 10px;
    }
    .btn_login_face {
      width: 100%;
      background-color: blue;
      color: white;
      border-radius: 4px;
      padding: 5px;
      margin-top: 10px;
    }
    @media #{$smartphone} {
      div.custon_field {
        width: 100%
      }
    }
    @media #{$tablet} {
      div.custon_field {
        width: 100%;
      }
    }
    @media #{$desktop} {
      div.custon_field {
        width: 100%;
      }
    }
  }
  div.div-skills {
    padding: 10px;
    border: 1px solid #B0BEC5;
    div.skills {
      margin-bottom: 20px;
      padding: 20px;
    }
    div.new {
      @media #{$smartphone} {
        width: 100%;
      }
      @media #{$tablet_desktop} {
        width: 300px;
      }
    }
  }

  div.field-skill {
    .input_skill {
      width: 100%;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      border: 1px solid #90A4AE;
      color: #607D8B;
      font-weight: bold;
      letter-spacing: 0.1em;
      background: white;
      padding: 3px 15px 3px;
      padding-left: 32px;
    }
    .remove-skill {
      position: relative;
      top: -29px;
      left: 3px;
      background: #EF9A9A;
      padding: 4px 8px 5px;
      border-radius: 50%;
      color: white;
      @media #{$tablet_desktop} {
        top: -29px;
        left: 4px;
      }
    }
  }

  section#screen_login_collaborator {
    background: image-url('blog2');
    height: 100vh;
    @media #{$smartphone} {
      padding-top: 40px;
      div.main {
        padding-top: 10px;
        h1.title {
          text-align: center;
          font-size: 1.5em;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        p {
          text-align: justify;
        }
      }
    }
    @media #{$tablet} {
      div.main {
        padding-top: 100px;
        h1.title {
          font-size: 1.5em;
        }
        div.card-login {
          box-shadow: 1px -2px 10px;
        }
      }
    }
    @media #{$desktop} {
      div.main {
        padding-top: 100px;
        h1.title {
          font-size: 2em;
        }
        div.card-login {
          box-shadow: 1px -2px 10px;
        }
      }
      div.info {
        border: 10px solid black;
      }
    }
  }

  section#search-users {
    min-height: 100vh;
  }
  section#show_profile_employer {
    min-height: 100vh;
    background: white;
    @media #{$smartphone} {
      div.main_col {
        margin-bottom: 20px;
      }
    }
    @media #{$desktop} {
      div.main_col {
        border: 1px solid #B2DFDB;
        border-radius: 10px;
        margin-top: 90px;
        margin-bottom: 100px;
        padding-top: 15px;
      }
    }
    section#top {
      @media #{$smartphone} {
        height: 200px;
        background: #B2DFDB;
      }
      @media #{$tablet_desktop} {
        height: 300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: #B2DFDB;
      }
    }
    div.employer_logo{
      @media #{$smartphone} {
        max-height: 100px;
        div.logo {
          .img_logo {
            border: 4px solid white;
            border-radius: 50%;
            position: relative;
            top: -110px;
          }
        }
      }
      @media #{$tablet_desktop} {
        max-height: 100px;
        div.logo {
          .img_logo {
            border: 4px solid white;
            border-radius: 50%;
            position: relative;
            top: -100px;
          }
        }
      }
    }
    div.follow {
      @media #{$desktop} {
        .btn_follow {
          position: relative;
          top: -90px;
          border-radius: 20px;
        }
      }
    }
    div.employer_info {
      @media #{$smartphone} {
        padding: 20px;
        p.name {
          font-size: 1.5em;
          font-weight: bold;
        }
      }
      @media #{$tablet_desktop} {
        padding: 20px;
        p.name {
          font-size: 2em;
          font-weight: bold;
        }
      }
    }
    div.about {
      @media #{$smartphone} {
        padding: 10px;
        p {
          text-align: justify;
        }
      }
      @media #{$tablet_desktop} {
        padding: 10px;
        p {
          text-align: justify;
        }
      }
    }

  }

  div#carousel_employer {
    padding: 10px 10px 80px;
    div.item {
      background: #CFD8DC;
      padding: 15px;
      font-size: 1.3em;
      @media #{$smartphone} {
        span.name {
          font-size: 1em;
        }
        span.contact {
          font-size: 0.4em;
        }
      }
      @media #{$tablet} {
        span.name {
          font-size: 0.8em;
          color: #607D8B;
        }
        span.contact {
          font-size: 0.6em;
          color: #455A64;
        }
      }
      @media #{$desktop} {
        span.name {
          font-size: 1.1em;
          color: #607D8B;
        }
        span.contact {
          font-size: 0.6em;
          color: #455A64;
        }
      }
    }
  }
  section#update_user_bio {
    background: white;
    min-height: 100vh;
    div.container {
      min-height: 100vh;
      div.row {
        width: 100%;
      }
    }
  }
  // custom inputs
  .custon_field {
    position: relative;
  }
  /* style icon */
  .custon_field .icon {
    background: #78909C;
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  /* align icon */
  .left-addon .icon  {
    left: 0px;
    top:  0px;
    padding: 8px 10px 3px;
  }
  /* add padding  */
  .left-addon input {
     padding:  20px 40px 20px;
     padding-left:  60px;
     border-radius: 0px;
   }
}



.main-content {
  position: relative;

  .owl-theme {
      .custom-nav {
          position: absolute;
          top: 7%;
          left: 0;
          right: 0;

          .owl-prev, .owl-next {
              position: absolute;
              height: 100px;
              color: inherit;
              background: none;
              border: none;
              z-index: 100;

              i {
                  font-size: 2.5rem;
                  color: #cecece;
              }
          }

          .owl-prev {
              left: 0;
          }

          .owl-next {
              right: 0;
          }
      }
  }
}
